<section>
    <h2 class="page-title" data-bind="text: title"></h2>
</section>

<body>
<img src="../Content/images/churchstreetphoto.jpg" class="center"/>
<p class='general'>We here at Shelbyville First Assembly of God church desire to be used by God to reach our community and world for Jesus Christ. Our church is contemporary in our worship style but traditional in our love for Jesus. We believe in the final authority of Scripture in our lives and the ongoing work of the Holy Spirit in everything we do. If you have questions about the church or about knowing Jesus in a personal way, please contact us. </p>
<br />
<p class='general'>We are affiliated with the General Council of the Assemblies of God in fellowship and doctrine. You can find out more about our denomination at www.ag.org (you can get there through the link page on the left).</p> 
<br />
<p class='general'>Locally, we use the word FOCUS to remind us of who we are:</p>
<br />


<ul class="center">
<li class="center">Family Friendly</li>
<li class="center">Outreach Oriented</li>
<li class="center">Caring Community</li>
<li class="center">Utilization of the Saints</li>
<li class="center">Spirit Led</li>
</ul>
<br />
<p class='general'>Just relax, grab a cup of coffee, and wander around our site. We hope it will help you get to know us a little better. If you have questions, call, email, or stop by. We would love to see you this Sunday!
</p>
<br /><br />
</body>

