

<body>
<img src="../Content/images/churchstreetphoto.jpg" class="center"/>
<p class='general'>At Shelbyville First Assembly of God we desire to be used by God to reach our community and world for Jesus Christ. Our church is contemporary in our worship style but traditional in our love for Jesus. We believe in the final authority of Scripture in our lives and the ongoing work of the Holy Spirit in everything we do. </p>
<br />
<p class='general'>We are affiliated with the General Council of the Assemblies of God in fellowship and doctrine. You can find out more about our denomination at the <a href="www.ag.org">Assemblies of God USA</a> or <a href="www.icdag.org">Illinois District Council Assemblies of God</a>.</p> 
<img src="../Content/images/AG_SHIELD_2C.jpg" class="center" style="width:100px; height:100px;"/>
<br />
<p class='general'>Locally, we use the word <b>FOCUS</b> to remind us of who we are:</p>
<br />


<ul class="center">
<li class="center">Family Friendly</li>
<li class="center">Outreach Oriented</li>
<li class="center">Caring Community</li>
<li class="center">Utilization of the Saints</li>
<li class="center">Spirit Led</li>
</ul>
<br />
<p class='general'>Just relax, grab a cup of coffee, and wander around our site. We hope it will help you get to know us a little better. If you have questions, call, email, or stop by. We would love to see you this Sunday!
</p>
<br />
<br/><br/>
</body>

