

<body>

<img src="../Content/images/rangerlogo.jpg" class="center" style="width:150px; height:150px;"/>


<p class="general">Royal Rangers is our Wednesday night program for boys in grades 4-8.  They work to earn merit badges, play games, and get to know each other.</p>
<p class="general">We currently have two groups of rangers: Discovery Rangers and Adventure Rangers</p>

<h3 class="center">Our Pledge</h3>
<p class="general">With God’s help, I will do my best to serve God, my church, and my fellowman; to live by the Ranger Code; to make the Golden Rule my daily rule.</p>

<h3 class="center">Our Code</h3>
<ul class="center">A Royal Ranger is:
    <li class="center">ALERT - He is mentally, physically, and spiritually alert.</li>
    <li class="center">CLEAN - He is clean in body, mind, and speech.</li>
    <li class="center">HONEST - He does not lie, cheat, or steal.</li>
    <li class="center">COURAGEOUS - He is brave in spite of danger, criticism, or threats.</li>
    <li class="center">LOYAL - He is faithful to his church, family, outpost, and friends.</li>
    <li class="center">COURTEOUS - He is polite, kind, and thoughtful.</li>
    <li class="center">OBEDIENT - He obeys his parents, leaders, and those in authority.</li>
    <li class="center">SPIRITUAL - He prays, reads his Bible, and witneses.</li>
    </ul>
    
</body>

