<section>
    <h2 class="page-title" data-bind="text: title"></h2>
</section>

<body>
    <p class="general">We would love to get to know you and introduce you to our family here at Shelbyville First Assembly!</p>
    <br/><br/>
    <ul class="center">
        <li class="center">Sunday Mornings</li>
        <li class="center">Sunday School--9:30 AM</li>
        <li class="center">Morning Service--10:30 AM</li>
    </ul>
    <br/><br/>
    <ul class="center">
        <li class="center">Wednesday Evenings--7:00 PM</li>
        <li class="center">Adult Bible Study</li>
        <li class="center">Kids Services</li>
    </ul>
    <br/><br/>
    <p class="general">We will be starting <b>LIFE GROUPS</b> again in January.  Please check back for a list of groups.</p>
</body>